.u-section-1 {
  background-image: url("images/water-3266211_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 498px;
  min-height: 538px;
  margin: 222px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 214px;
  height: 261px;
  background-image: none;
  margin: -30px auto 0 -30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: -178px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 168px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -269px 0 60px 702px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 78px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: -10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 60px 0 0 627px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1056px;
  margin: 31px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 564px;
  background-image: url("images/trees-3619180_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 527px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 502px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 307px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 63px;
  min-height: 426px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  bottom: -3px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 510px;
  height: 340px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 619px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: -30px -55px 0;
}

.u-section-3 .u-image-2 {
  width: 510px;
  height: 340px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  width: 619px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  width: 602px;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-image-3 {
  width: 520px;
  height: 347px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  width: 602px;
  margin: 9px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: 520px;
  }

  .u-section-3 .u-text-6 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
    min-height: 248px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 213px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 213px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-5 {
    width: 320px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 213px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 727px;
}

.u-section-4 .u-list-1 {
  min-height: 607px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-rows: repeat(1, auto);
  width: 1120px;
  grid-gap: 10px;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 347px;
  object-position: 50% 0.9%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-list-1 {
    min-height: 509px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1170px;
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
  min-height: 917px;
}

.u-section-5 .u-image-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 35px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 379px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 14px 60px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 274px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-text-3 {
  line-height: 2.2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 869px;
  }

  .u-section-5 .u-image-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 743px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 843px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}